docker-compose/n8n/workflows/ClickUp - Tasks - RAG.json
{
  "name": "ClickUp - Tasks - RAG",
  "nodes": [
    {
      "parameters": {
        "content": "## Almacenar tareas\n",
        "height": 880,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1936,
        80
      ],
      "typeVersion": 1,
      "id": "769796e7-4940-4cf3-9766-391e407f843e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Eres un asistente inteligente integrado con ClickUp (agente de ClickUp). Tu objetivo principal es ayudar a los usuarios a encontrar, resumir y actuar sobre información relacionada con su espacio de trabajo ClickUp.\n\n## Reglas\nCada vez que el usuario te pida tareas le vas a devolver a modo de lista por defecto:\n* El titulo de la tarea\n  - El estado de la tarea\n  - El creador de la tarea\n  - La fecha de actualizacion"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2576,
        144
      ],
      "id": "f85b17a2-800f-4e51-b308-90d1376b6ed6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        2400,
        144
      ],
      "id": "b118b2f6-0fb6-4831-8511-de7cb27b01cb",
      "name": "When chat message received",
      "webhookId": "6c8d9157-f52b-440b-b7ea-34e281863b1f"
    },
    {
      "parameters": {
        "operation": "getAll",
        "team": "3121590",
        "space": "=3241325",
        "folder": "=90172621115",
        "list": "=901703156817",
        "filters": {
          "dateUpdatedGt": "={{ (new Date($json.modified_time *1)).toISOString() }}",
          "includeClosed": true,
          "orderBy": "created",
          "subtasks": true
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        176,
        240
      ],
      "id": "c575e950-d7d1-41ff-a3aa-aa162ff7fc5e",
      "name": "ClickUp - Todas las tareas",
      "credentials": {
        "clickUpApi": {
          "id": "sVwdzQKKDrxlNohA",
          "name": "ClickUp account - Soporte Guayas"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5e2bfba-9603-4b23-a1ad-fe0a8c10239c",
              "name": "id",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.id }}",
              "type": "string"
            },
            {
              "id": "82f03019-4a64-4694-9ad2-fa0da0290ad8",
              "name": "titulo",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.name }}",
              "type": "string"
            },
            {
              "id": "32f1222c-5087-4cb2-8fbf-c3f2d8e83e7d",
              "name": "descripcion",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.description }}",
              "type": "string"
            },
            {
              "id": "baea74c2-08b1-4623-b8ab-145329c6ea53",
              "name": "estado",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.status.status }}",
              "type": "string"
            },
            {
              "id": "86f43dee-172a-4616-8bae-784b936b1223",
              "name": "creador",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.creator.username }}",
              "type": "string"
            },
            {
              "id": "ed6d35fe-3954-45cf-b942-4ac04287ed57",
              "name": "asignados",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.assignees.map(assignee => assignee.username) }}",
              "type": "array"
            },
            {
              "id": "36a254dc-b596-43c6-9726-93ba5962b7e4",
              "name": "fecha_creacion",
              "value": "={{ (new Date($json.date_created *1)).toLocaleString('es-ES', { timeZone: 'UTC' }) }}",
              "type": "string"
            },
            {
              "id": "f42fb5f9-b82b-4e36-9802-3919828a2399",
              "name": "raw_date_created",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.date_created }}",
              "type": "string"
            },
            {
              "id": "34e8cc82-888c-47c2-88ea-917ed50f0b2b",
              "name": "fecha_actualizacion",
              "value": "={{ (new Date($('ClickUp - Todas las tareas').item.json.date_updated *1)).toLocaleString('es-ES', { timeZone: 'UTC' }) }}",
              "type": "string"
            },
            {
              "id": "1d9e1024-78e0-4790-871c-707b0470e524",
              "name": "raw_date_updated",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.date_updated }}",
              "type": "string"
            },
            {
              "id": "e914dd36-8f66-4937-9424-589e1cae80d0",
              "name": "fecha_cierre",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.date_closed && (new Date($('ClickUp - Todas las tareas').item.json.date_closed *1)).toLocaleString('es-ES', { timeZone: 'UTC' }) }}",
              "type": "string"
            },
            {
              "id": "76d23ba9-b62d-4fcc-93b0-9c8973f22dd1",
              "name": "raw_date_closed",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.date_closed }}",
              "type": "string"
            },
            {
              "id": "5895a9d3-2ec8-42ee-983b-803c5aceb7eb",
              "name": "fecha_terminado",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.date_done && (new Date($('ClickUp - Todas las tareas').item.json.date_done *1)).toLocaleString('es-ES', { timeZone: 'UTC' }) }}",
              "type": "string"
            },
            {
              "id": "311b983a-99a2-46ea-b375-8c5b07f370f7",
              "name": "raw_date_done",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.date_done }}",
              "type": "string"
            },
            {
              "id": "a9110ec1-50fd-4e87-8193-3ce50da53027",
              "name": "custom_fields",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.custom_fields.map(field => `${field.name}: ${Array.isArray(field.value) ? field.value.map(id => Object.fromEntries(field.type_config.options.map(o => [o.id, o.label]))[id]).toJsonString(): field.value || null}`) }}",
              "type": "array"
            },
            {
              "id": "b2277d11-3f58-4c12-b185-e16e55154da7",
              "name": "archivado",
              "value": "={{ $('ClickUp - Todas las tareas').item.json.archived }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        256
      ],
      "id": "c77abbaf-7bb6-40c6-88cd-cd5c77a876d7",
      "name": "ClickUp - Campos Esenciales"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1984,
        816
      ],
      "id": "02068494-15b2-477d-9343-ba9604f70267",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "SkZXoDWFFDsbxlrH",
          "name": "Google Gemini(PaLM) - blacknoob20@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "description": "Eres un agente que ayudas a los usuarios para obtener tareas de clickup y contestar todas las preguntas que te hagan",
        "topK": 15
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2720,
        352
      ],
      "id": "249f6fc5-0648-4298-bb1e-ee8322515508",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        2640,
        544
      ],
      "id": "01cd316d-79e9-469b-b1b0-367e71e498e5",
      "name": "PGVector Store",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "embeddingBatchSize": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        1984,
        240
      ],
      "id": "fffa5125-d503-492a-9cad-bec0ccba5789",
      "name": "Almacenar Tareas ClickUp",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2896,
        528
      ],
      "id": "3d2f19cb-9a1d-46df-b9f5-62f4a4f4ab89",
      "name": "Gemini Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SkZXoDWFFDsbxlrH",
          "name": "Google Gemini(PaLM) - blacknoob20@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2480,
        352
      ],
      "id": "3546b823-0159-431b-9b5f-b6c983498cf9",
      "name": "Gemini Chat",
      "credentials": {
        "googlePalmApi": {
          "id": "SkZXoDWFFDsbxlrH",
          "name": "Google Gemini(PaLM) - blacknoob20@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2608,
        352
      ],
      "id": "58a30293-8566-44f7-9d93-412f24c5a01d",
      "name": "Chat Memory",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agente ClickUp",
        "height": 592,
        "width": 736,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2352,
        80
      ],
      "typeVersion": 1,
      "id": "a95b264e-cec4-41d7-b9a3-70786aeb069b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (EXTRACT(EPOCH FROM COALESCE(MAX(modified_time), TIMESTAMP '2025-11-01 00:00:00')) * 1000) ::bigint AS modified_time\n  FROM ingested_tasks;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        240
      ],
      "id": "dbeb153f-0624-4f96-9b56-c1ef2cccc46b",
      "name": "Obtener la fecha última actualización",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) as ingested from ingested_tasks\nwhere task_id = '{{ $json.id }}' and modified_time = TIMESTAMP'{{ new Date($json.date_updated *1).toISOString().replace('T',' ').split('.')[0] }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        240
      ],
      "id": "a46386ba-03e3-48db-b197-99f28d428389",
      "name": "Obtener carga previa",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "974ed4c4-499a-41ed-9bfa-97f157ff9755",
              "leftValue": "={{ $json.ingested }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        240
      ],
      "id": "950aae7b-3c9b-4c51-8318-6ca5df654464",
      "name": "¿Fue previamente cargado?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        800,
        96
      ],
      "id": "de867096-c1cc-4576-8174-281f906d078f",
      "name": "No hacer nada"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from n8n_vectors where task_id= '{{ $('ClickUp - Campos Esenciales').item.json.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        304
      ],
      "id": "2d0c5846-57cb-4cc0-8792-19f774a1237e",
      "name": "Borrar referencias",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1584,
        240
      ],
      "id": "9788b445-7073-4e17-80cd-5d0db3523215",
      "name": "Esperar eliminación"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ingested_tasks",
          "mode": "list",
          "cachedResultName": "ingested_tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $json.id }}",
            "title": "={{ $json.titulo }}",
            "creator": "={{ $json.creador }}",
            "task_status": "={{ $json.estado }}",
            "modified_time": "={{ new Date($json.raw_date_updated *1).toISOString().replace('T',' ').split('.')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creator",
              "displayName": "creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_status",
              "displayName": "task_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modified_time",
              "displayName": "modified_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_ingested",
              "displayName": "last_ingested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1776,
        240
      ],
      "id": "e5b8132b-6d16-4c20-83cf-459c308363d1",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "content": "## Selección de tareas\n",
        "height": 704,
        "width": 2128,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        80
      ],
      "typeVersion": 1,
      "id": "d5ab6049-0909-4103-97a6-1f9c6c2d2d5d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE n8n_vectors\nSET task_id = '{{ $('Insert rows in a table').item.json.task_id }}'\nWHERE metadata->'loc'->'lines' = '{{ $json.metadata.loc.lines.toJsonString() }}' and task_id is null",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        448
      ],
      "id": "bedeb6df-6a3b-4935-b3c7-00c1127534c8",
      "name": "Actualizar task_id en vectores",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1776,
        448
      ],
      "id": "69592286-53ce-4b49-ad40-5498512b4cad",
      "name": "Terminar proceso"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        240
      ],
      "id": "c31d2a58-2dde-4509-9678-0a7d81c9f518",
      "name": "Iniciar"
    },
    {
      "parameters": {
        "chunkOverlap": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2096,
        608
      ],
      "id": "8d76b5f9-c51a-4536-9f7b-1fe4f2d88de5",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT to_regclass('public.n8n_vectors') IS NOT NULL AS exists",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        416
      ],
      "id": "86c16c90-2126-456d-8d65-0af778665f51",
      "name": "Buscar tabla vectores",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5645e85e-73fe-4bf9-8df7-35e3acda0823",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1136,
        512
      ],
      "id": "f399b27c-fc93-4b41-aa81-0be5f8363912",
      "name": "¿Borrar si existe la tabla?"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ JSON.stringify($('Esperar eliminación',null,2).item.json,null,2)}}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2032,
        448
      ],
      "id": "f4fcd3ae-6632-4a7d-abcb-44fa9d686e72",
      "name": "Insertar Tareas"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp - Todas las tareas": {
      "main": [
        [
          {
            "node": "Obtener carga previa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp - Campos Esenciales": {
      "main": [
        [
          {
            "node": "Esperar eliminación",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar tabla vectores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Almacenar Tareas ClickUp",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Obtener la fecha última actualización": {
      "main": [
        [
          {
            "node": "ClickUp - Todas las tareas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener carga previa": {
      "main": [
        [
          {
            "node": "¿Fue previamente cargado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Fue previamente cargado?": {
      "main": [
        [
          {
            "node": "No hacer nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp - Campos Esenciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar referencias": {
      "main": [
        [
          {
            "node": "Esperar eliminación",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Esperar eliminación": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Almacenar Tareas ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Almacenar Tareas ClickUp": {
      "main": [
        [
          {
            "node": "Actualizar task_id en vectores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar task_id en vectores": {
      "main": [
        [
          {
            "node": "Terminar proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iniciar": {
      "main": [
        [
          {
            "node": "Obtener la fecha última actualización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Insertar Tareas",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Buscar tabla vectores": {
      "main": [
        [
          {
            "node": "¿Borrar si existe la tabla?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Borrar si existe la tabla?": {
      "main": [
        [
          {
            "node": "Borrar referencias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar eliminación",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insertar Tareas": {
      "ai_document": [
        [
          {
            "node": "Almacenar Tareas ClickUp",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "96cd24f2-9a8b-4204-8f66-92db4f951b7c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfe878e4337a9a6094362e06023e91a757750bd9770a4d56013225bc19da1117"
  },
  "id": "OXlJKMnY2JPoVJQz",
  "tags": []
}