docker-compose/n8n/workflows/ClickUp - Tasks - RAG.json
{
  "name": "ClickUp - Tasks - RAG",
  "nodes": [
    {
      "parameters": {
        "content": "## Almacenar tareas\n",
        "height": 688,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        -160
      ],
      "typeVersion": 1,
      "id": "beecbd29-2c53-46c4-926a-0f68b46c95e3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Eres un asistente técnico institucional integrado con ClickUp. \nTu conocimiento proviene únicamente de fragmentos en formato JSON entregados desde la tool `tareas_completadas`, que ya filtra las tareas con estado DONE. \nNo inventes información ni campos que no estén presentes en el JSON.\n\n## Reglas\n1. Para listar tareas en estado DONE, usa siempre la tool `tareas_completadas`.\n2. Devuelve máximo 10 tareas por respuesta.\n3. Usa el formato:\n   - Título: <title>\n     - Estado: <status>\n     - Creador: <creator>\n     - Fecha de actualización: <updated_at>\n     - Url: <url>\n4. Si hay más de 10 tareas relevantes, indica:  \n   \"Hay más resultados, pide 'siguiente' para continuar\".\n5. Si no hay tareas en estado DONE, responde:  \n   \"No dispongo de información suficiente\".\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3152,
        -96
      ],
      "id": "251ccd04-ede2-437c-ace6-f80d92c39921",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        2976,
        -96
      ],
      "id": "ad087b63-5dcb-4309-a977-688034a1ed15",
      "name": "When chat message received",
      "webhookId": "6c8d9157-f52b-440b-b7ea-34e281863b1f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5e2bfba-9603-4b23-a1ad-fe0a8c10239c",
              "name": "id",
              "value": "={{ $('ClickUp - Listar tareas').item.json.id }}",
              "type": "string"
            },
            {
              "id": "82f03019-4a64-4694-9ad2-fa0da0290ad8",
              "name": "titulo",
              "value": "={{ $('ClickUp - Listar tareas').item.json.name }}",
              "type": "string"
            },
            {
              "id": "32f1222c-5087-4cb2-8fbf-c3f2d8e83e7d",
              "name": "descripcion",
              "value": "={{ $('ClickUp - Listar tareas').item.json.description }}",
              "type": "string"
            },
            {
              "id": "baea74c2-08b1-4623-b8ab-145329c6ea53",
              "name": "estado",
              "value": "={{ $('ClickUp - Listar tareas').item.json.status.status }}",
              "type": "string"
            },
            {
              "id": "86f43dee-172a-4616-8bae-784b936b1223",
              "name": "creador",
              "value": "={{ $('ClickUp - Listar tareas').item.json.creator.username }}",
              "type": "string"
            },
            {
              "id": "ed6d35fe-3954-45cf-b942-4ac04287ed57",
              "name": "asignados",
              "value": "={{ $('ClickUp - Listar tareas').item.json.assignees.map(assignee => assignee.username).toJsonString() }}",
              "type": "array"
            },
            {
              "id": "36a254dc-b596-43c6-9726-93ba5962b7e4",
              "name": "fecha_creacion",
              "value": "={{ (new Date($('ClickUp - Listar tareas').item.json.date_created *1)).toLocaleString('es-ES', { timeZone: 'UTC' }) }}",
              "type": "string"
            },
            {
              "id": "f42fb5f9-b82b-4e36-9802-3919828a2399",
              "name": "raw_date_created",
              "value": "={{ $('ClickUp - Listar tareas').item.json.date_created }}",
              "type": "string"
            },
            {
              "id": "34e8cc82-888c-47c2-88ea-917ed50f0b2b",
              "name": "fecha_actualizacion",
              "value": "={{ (new Date($('ClickUp - Listar tareas').item.json.date_updated *1)).toLocaleString('es-ES', { timeZone: 'UTC' }) }}",
              "type": "string"
            },
            {
              "id": "1d9e1024-78e0-4790-871c-707b0470e524",
              "name": "raw_date_updated",
              "value": "={{ $('ClickUp - Listar tareas').item.json.date_updated }}",
              "type": "string"
            },
            {
              "id": "e914dd36-8f66-4937-9424-589e1cae80d0",
              "name": "fecha_cierre",
              "value": "={{ $('ClickUp - Listar tareas').item.json.date_closed && (new Date($('ClickUp - Listar tareas').item.json.date_closed *1)).toLocaleString('es-ES', { timeZone: 'UTC' }) }}",
              "type": "string"
            },
            {
              "id": "76d23ba9-b62d-4fcc-93b0-9c8973f22dd1",
              "name": "raw_date_closed",
              "value": "={{ $('ClickUp - Listar tareas').item.json.date_closed }}",
              "type": "string"
            },
            {
              "id": "5895a9d3-2ec8-42ee-983b-803c5aceb7eb",
              "name": "fecha_terminado",
              "value": "={{ $('ClickUp - Listar tareas').item.json.date_done && (new Date($('ClickUp - Listar tareas').item.json.date_done *1)).toLocaleString('es-ES', { timeZone: 'UTC' }) }}",
              "type": "string"
            },
            {
              "id": "311b983a-99a2-46ea-b375-8c5b07f370f7",
              "name": "raw_date_done",
              "value": "={{ $('ClickUp - Listar tareas').item.json.date_done }}",
              "type": "string"
            },
            {
              "id": "1f592ed9-1052-4ede-8356-dae7f79c2908",
              "name": "url",
              "value": "={{ $('ClickUp - Listar tareas').item.json.url }}",
              "type": "string"
            },
            {
              "id": "b2277d11-3f58-4c12-b185-e16e55154da7",
              "name": "archivado",
              "value": "={{ $('ClickUp - Listar tareas').item.json.archived }}",
              "type": "boolean"
            },
            {
              "id": "a9110ec1-50fd-4e87-8193-3ce50da53027",
              "name": "custom_fields",
              "value": "={{ $('ClickUp - Listar tareas').item.json.custom_fields.map(field => `${field.name}: ${Array.isArray(field.value) ? field.value.map(id => Object.fromEntries(field.type_config.options.map(o => [o.id, o.label]))[id]).toJsonString(): field.value || null}`) }}",
              "type": "array"
            },
            {
              "id": "649355d3-a11e-4ddf-ab4a-4ff00d76623a",
              "name": "subtareas",
              "value": "={{ ($('ClickUp - Listar tareas').item.json.subtasks || []).map(t => ({subtarea_titulo:t.name,subtarea_estado:t.status.status,subtarea_actualizada:t.date_updated, subtarea_creador:t.creator.username,subtarea_url:t.url})).toJsonString() }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -112
      ],
      "id": "79fcc7fc-f87e-4247-a3fc-079d9e6d01f2",
      "name": "ClickUp - Campos Esenciales"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2864,
        384
      ],
      "id": "c2d204f1-7e6d-41c6-8013-975c7041b7bc",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "SkZXoDWFFDsbxlrH",
          "name": "Google Gemini(PaLM) - blacknoob20@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "description": "=Eres un asistente técnico institucional integrado con ClickUp. \nTu tarea principal es listar las tareas que están en estado DONE. \nNo inventes información ni campos que no estén presentes en el JSON.\n\nReglas:\n1. Devuelve máximo 10 tareas por respuesta.\n2. Usa el formato:\n   - Título: <title>\n     - Estado: <status>\n     - Creador: <creator>\n     - Fecha de actualización: <updated_at>\n     - Url: <url>\n3. Si hay más de 10 tareas, indica: \"Hay más resultados, pide 'siguiente' para continuar\".\n4. Si no hay tareas en estado DONE, responde: \"No dispongo de información suficiente\".\n",
        "topK": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        3296,
        96
      ],
      "id": "10a2728e-4f2c-4e5f-9345-3d22f192ea2f",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        3216,
        256
      ],
      "id": "6c36e463-b04e-4275-a40b-cd2b1ae0826e",
      "name": "PGVector Store",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "embeddingBatchSize": 250,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        2224,
        -96
      ],
      "id": "08def267-3cda-4381-93f9-073392e394d5",
      "name": "Almacenar Tareas ClickUp",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3472,
        256
      ],
      "id": "c6b1e2d3-bc1c-4cfb-b0b2-e6b0267adf14",
      "name": "Gemini Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SkZXoDWFFDsbxlrH",
          "name": "Google Gemini(PaLM) - blacknoob20@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3056,
        96
      ],
      "id": "57de093d-cbe7-4c59-a05c-139e6b5c5a07",
      "name": "Gemini Chat",
      "credentials": {
        "googlePalmApi": {
          "id": "SkZXoDWFFDsbxlrH",
          "name": "Google Gemini(PaLM) - blacknoob20@gmail.com"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3184,
        96
      ],
      "id": "fea3de7c-63cf-4a04-8845-7f29ec67412f",
      "name": "Chat Memory",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agente ClickUp",
        "height": 688,
        "width": 768,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2928,
        -160
      ],
      "typeVersion": 1,
      "id": "71b41019-1b0b-45e2-a55a-16af64aeee04",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(*) as ingested from ingested_tasks\nwhere task_id = '{{ $json.id }}' and modified_time = TIMESTAMP'{{ new Date($('ClickUp - Listar tareas').item.json.date_updated *1).toISOString().replace('T',' ').split('.')[0] }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        704,
        -128
      ],
      "id": "cc3cf30d-c148-4f8c-bf1e-d5a96bf70e54",
      "name": "Obtener carga previa",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "974ed4c4-499a-41ed-9bfa-97f157ff9755",
              "leftValue": "={{ $json.ingested }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -128
      ],
      "id": "0083e645-3faa-4f55-942e-118f6444a1db",
      "name": "¿Fue previamente cargado?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1072,
        -256
      ],
      "id": "d9071669-1219-47b4-baa6-b7af17b08e80",
      "name": "No hacer nada"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1808,
        -96
      ],
      "id": "ff1fa83a-686f-4801-9bc5-e5ffdffdf2ce",
      "name": "Esperar eliminación"
    },
    {
      "parameters": {
        "content": "## Selección de tareas\n",
        "height": 800,
        "width": 3136,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        -272
      ],
      "typeVersion": 1,
      "id": "16849678-5a74-4862-81e8-f4476fe63645",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE n8n_vectors\nSET task_id = '{{ $('ClickUp - Campos Esenciales').item.json.id }}'\nWHERE metadata->>'id' = '{{ $json.metadata.id }}' and task_id is null",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2512,
        -96
      ],
      "id": "89c87355-9b1a-4241-811f-acd44af14760",
      "name": "Actualizar task_id en vectores",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2672,
        -96
      ],
      "id": "2f9b7349-d246-473d-94cc-0ce9ddc743ce",
      "name": "Terminar proceso"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        -112
      ],
      "id": "ee4fe795-705f-4261-aabb-9399c1c8be2b",
      "name": "Iniciar"
    },
    {
      "parameters": {
        "chunkSize": 1500,
        "chunkOverlap": 300,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2224,
        304
      ],
      "id": "e0f92bda-a31e-407a-b385-10d0f104f8ba",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT to_regclass('public.n8n_vectors') IS NOT NULL AS exists",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1232,
        0
      ],
      "id": "c4d4223f-d09f-44aa-bc89-aba96b4df284",
      "name": "Buscar tabla vectores",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5645e85e-73fe-4bf9-8df7-35e3acda0823",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1392,
        160
      ],
      "id": "5bded7c0-4fc3-45c9-ba26-79db528e373b",
      "name": "¿Borrar si existe la tabla?"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('ClickUp - Campos Esenciales').item.json.toJsonString()}}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "id",
                "value": "={{ $json.task_id }}"
              },
              {
                "name": "estado",
                "value": "={{$json.task_status}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        2192,
        144
      ],
      "id": "e3c3f9ca-e8fc-4a5a-b661-15eea36184af",
      "name": "Insertar Tareas"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ingested_tasks",
          "mode": "list",
          "cachedResultName": "ingested_tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $json.id }}",
            "title": "={{ $json.titulo }}",
            "creator": "={{ $json.creador }}",
            "task_status": "={{ $json.estado }}",
            "modified_time": "={{ new Date($json.raw_date_updated *1).toISOString().replace('T',' ').split('.')[0] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "creator",
              "displayName": "creator",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "task_status",
              "displayName": "task_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modified_time",
              "displayName": "modified_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_ingested",
              "displayName": "last_ingested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1984,
        -96
      ],
      "id": "73aa2025-8360-4a5a-b48f-b4ad2d2ec582",
      "name": "Llenar ingested tasks",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select * from n8n_vectors where metadata->>'estado' = 'complete'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        3552,
        96
      ],
      "id": "f63f896f-3ee1-43de-9477-9553f3611666",
      "name": "tareas_completadas",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select \n  (SELECT (EXTRACT(EPOCH FROM COALESCE(MAX(modified_time), TIMESTAMP '2025-11-20 00:00:00')) * 1000) ::bigint FROM ingested_tasks) AS modified_time,\n  (select count(1) from clickup_tasks) as total_clickup_task;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -720,
        -112
      ],
      "id": "611353d1-7558-4ed4-a24e-3e92336f9e7e",
      "name": "Obtener última actualización",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clickup_tasks",
          "mode": "list",
          "cachedResultName": "clickup_tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "task_id": "={{ $('ClickUp - Listar tareas').item.json.id }}",
            "data": "={{ $('ClickUp - Listar tareas').item.json }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "inserted_at",
              "displayName": "inserted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        512,
        -128
      ],
      "id": "435a5fd1-caac-4f29-b4cd-b413643ba026",
      "name": "Insertar ClickUp Response",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3ae89aaf-0d07-42d5-a688-aa6ba8130209",
              "leftValue": "={{ $('Obtener última actualización').item.json.total_clickup_task }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        -112
      ],
      "id": "53834df7-b861-423c-8b62-6923e2de8f93",
      "name": "No hay carga inicial?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "team": "3121590",
        "space": "=3241325",
        "folder": "=90172621115",
        "list": "=901703156817",
        "filters": {
          "dateUpdatedGt": "={{ (new Date($json.modified_time *1)).toISOString() }}",
          "includeClosed": true,
          "orderBy": "updated",
          "subtasks": true
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -544,
        -112
      ],
      "id": "a205b435-23e3-4c56-ac71-d87051389876",
      "name": "ClickUp - Listar tareas",
      "credentials": {
        "clickUpApi": {
          "id": "sVwdzQKKDrxlNohA",
          "name": "ClickUp account - Soporte Guayas"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select count(1) from clickup_tasks where task_id = '{{ $('ClickUp - Listar tareas').item.json.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        -16
      ],
      "id": "f472aa55-838c-4532-8935-13beffd97e84",
      "name": "Buscar tarea",
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7e448f18-53b0-412e-b661-ff772a7c5d27",
              "leftValue": "={{ $json.count }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        -16
      ],
      "id": "7f41df23-1209-4c92-b3ec-ae064363a9b3",
      "name": "No existe tarea?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from clickup_tasks where task_id = '{{ $('ClickUp - Listar tareas').item.json.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        64
      ],
      "id": "dd7ab29d-4dd7-4361-a7de-4e8755d1cd3c",
      "name": "Borrar tarea obsoleta",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        -16
      ],
      "id": "ca74ef9c-5072-4fec-b47f-5b3eab826021",
      "name": "Esperar todas las tareas"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "delete from n8n_vectors where task_id= '{{ $('ClickUp - Campos Esenciales').item.json.id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1568,
        -48
      ],
      "id": "992acd7a-cc78-4c5d-b45f-060de6bebe3a",
      "name": "Borrar ingested",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wJyvDHVfFHpmngoR",
          "name": "Postgres account - ClickUp Tasks"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp - Campos Esenciales": {
      "main": [
        [
          {
            "node": "Esperar eliminación",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar tabla vectores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Almacenar Tareas ClickUp",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Obtener carga previa": {
      "main": [
        [
          {
            "node": "¿Fue previamente cargado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Fue previamente cargado?": {
      "main": [
        [
          {
            "node": "No hacer nada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp - Campos Esenciales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar eliminación": {
      "main": [
        [
          {
            "node": "Llenar ingested tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Almacenar Tareas ClickUp": {
      "main": [
        [
          {
            "node": "Actualizar task_id en vectores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar task_id en vectores": {
      "main": [
        [
          {
            "node": "Terminar proceso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Iniciar": {
      "main": [
        [
          {
            "node": "Obtener última actualización",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Insertar Tareas",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Buscar tabla vectores": {
      "main": [
        [
          {
            "node": "¿Borrar si existe la tabla?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Borrar si existe la tabla?": {
      "main": [
        [
          {
            "node": "Borrar ingested",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar eliminación",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insertar Tareas": {
      "ai_document": [
        [
          {
            "node": "Almacenar Tareas ClickUp",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Llenar ingested tasks": {
      "main": [
        [
          {
            "node": "Almacenar Tareas ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tareas_completadas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Obtener última actualización": {
      "main": [
        [
          {
            "node": "ClickUp - Listar tareas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar ClickUp Response": {
      "main": [
        [
          {
            "node": "Obtener carga previa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No hay carga inicial?": {
      "main": [
        [
          {
            "node": "Insertar ClickUp Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar tarea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp - Listar tareas": {
      "main": [
        [
          {
            "node": "No hay carga inicial?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar tarea": {
      "main": [
        [
          {
            "node": "No existe tarea?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No existe tarea?": {
      "main": [
        [
          {
            "node": "Esperar todas las tareas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Borrar tarea obsoleta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar tarea obsoleta": {
      "main": [
        [
          {
            "node": "Esperar todas las tareas",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Esperar todas las tareas": {
      "main": [
        [
          {
            "node": "Insertar ClickUp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar ingested": {
      "main": [
        [
          {
            "node": "Esperar eliminación",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3f8d3914-32a7-49ab-aed7-06573efd35d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dfe878e4337a9a6094362e06023e91a757750bd9770a4d56013225bc19da1117"
  },
  "id": "OXlJKMnY2JPoVJQz",
  "tags": []
}